:root{
   --mainBlue: #2a2a72; 
   --lightBlue: #009ffd;
   --mainWhite:#f3f3f3;
   --maineDark: #232528;
   --mainYellow: #ffa400;
   --mainYellow1: #bb7c07;
}

* {
   margin: 0;
   padding: 0;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

html {
   scroll-behavior: smooth;
   box-sizing: border-box;
}

body{
   font-family: 'Oswald', sans-serif !important;
   background-color: var(--mainWhite) !important;
   color: var(--maineDark) !important;
}

.text-title{
   font-family: 'Permanent Marker', cursive;
   letter-spacing: 0.3rem;
   text-transform: uppercase;
}

.text-blue{
   color: var(--mainBlue);
}

.text-bright{
   color: var(--lightBlue);
}

.margin-left-auto{
   margin-left: auto !important;
}

.btn-black{
   background-color: transparent !important;
   text-transform: capitalize !important;
   font-size: 1rem !important;
   color: var(--maineDark);
   border-radius: 0 !important;
   border: 0.1rem solid var(--maineDark) !important;
}

.btn-black:hover{
   background-color: var(--maineDark) !important;
   color: var(--mainWhite) !important;
}

.cart-icon{
   cursor: pointer;
   font-size: 1.2rem;
   color: var(--mainYellow);
}

.cart-icon:hover{
   color: var(--mainYellow1);
}